@font-face {
  font-family: 'Suisse BP';
  src: url('../fonts/suissebpintl-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse BP';
  src: url('../fonts/suissebpintl-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse BP';
  src: url('../fonts/suissebpintl-ultralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'George X';
  src: url('../fonts/george_x.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
